<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d70d29ff66.js" crossorigin="anonymous"></script>
    
    <title>Inicio</title>


    <link rel="stylesheet" href="../../styles/main/index.css">
    <link rel="stylesheet" href="../../styles/menu.css">
</head>
<body>
    <%- include("./partials/menu.ejs") %>
    

    <main>
        <h1 class="titulo-main-index">Quizard</h1>

        <h2 class="subtitle-main-index">Elije tu veneno</h2>

        <div class="container-juegos-main">
            <a href="lolQuiz">
                <img src="../../img/index/leagueQuiz.jpg" alt="Lolquiz-img">
                <p>Lolquiz</p>
            </a>

            <a>
                <img src="../../img/index/leagueDex.jpg" alt="Loldex-img">
                <p>Loldex</p>
            </a>

            <a>
                <img src="../../img/index/pokeQuiz.png" alt="Pokequiz-img">
                <p>Pokequiz</p>
            </a>
            <a>
                <img src="../../img/index/pokedex.webp" alt="Pokedex-img">
                <p>Pokedex</p>
            </a>
        </div>
    </main>


    <%- include("./partials/footer") %>
</body>
</html>