/*Root e imports*/




@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Rubik:ital,wght@0,400;1,700&display=swap');

/*Globales*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
    color: var(--negro);
}
ul{
    list-style: none;
}
.menu-grande-header ul{
    display: none;
}
main{
    padding-top: 85px;
    
}


header{
        height: 80px;
        width: 100%;    
        transition: all 4s;

        background-image: radial-gradient(
            circle at right bottom ,
            var(--color-inicial-header) 0%,
            var(--color-segundo-header) 40%,
            var(--color-tercero-header) 80%,
            var(--color-final-header) 100%
        );

        position: fixed;
        z-index: 1;

        border-bottom: 1px solid var(--border-bottom-header);
        
    }
.nav-titulo{
        padding-left: 20px;
        font-size: 3em;
        
}
.nav-titulo a{
    color: var(--letras-titulo);
}
.menu-grande-header{
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding-top: 10px;

}
.fa-bars{
    padding-right: 20px;
    color: var(--letras-titulo);
    font-size: 2.5em;
}
.menu-chico{
    transition: all 4s;
}

.menu-chico ul{
    
    background-color: var(--fondo-header);
    height: 0;/*100*/
    transition: all 4s;
}
.menu-chico ul li{
    height: 0px;/*70*/
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.menu-chico ul li a{
    color:var(--letras-titulo);
    font-size: 2.5em;
    display: none;

}
header:hover .menu-chico ul li a{
    display: block;
}
header:hover .menu-chico li{
    height: 70px;
    background-color: var(--fondo-header);
    border-bottom: 3px solid var(--letras-titulo);
}

/*
    media de 900 o más
*/
@media (min-width:900px) {
    
    /*
        display none
    */
    .fa-bars{
        display: none;
    }
    .menu-chico{
        display: none;
    }
    header{
        height:80px;
    }

    .menu-grande-header ul{
        width: 50%;
        
        display: flex;
        align-items: center;
        justify-content: flex-end;

        padding-right: 20px;

    }
    .menu-grande-header li{
        border-radius: 5px;
        padding: 10px;
        transition: all .8s;
        
    }
    
    .menu-grande-header ul li a{
        font-size: 2.3em;
        color: var(--letras-titulo);
        font-weight: 700;
        transition: all .8s;
    }
    .menu-grande-header li:hover{
        background-color: var(--fondo-header-hover);
        
    }
    .menu-grande-header li:hover a{
        text-decoration: underline;
    }
}