<section class="frases" id="frases">
    <h2>
        Frases de Campeones
    </h2>
    <h3>
        Esta es la frase
    </h3>
    <form class="frases-form"  action="#" method="post">
        
        <label for="ingreso-campeon">
            Ingrese un campeon
        </label>
        <div class="container-input-frases">
            <input type="text" id="ingreso-campeon" name="ingreso-campeon">

            <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </div>

    </form>
    
    <div class="container-resultados-frases">

    </div>
    <div class="restart-container">
        <button class="next-lv">
            Siguiente Nivel
        </button>
        <button id="next-frases">
            Cambiar Frase
        </button>
        <button class="menu-inicial">
            Menu principal
        </button>
    </div>

</section>