<div class="quien-es">
            
    <h2 class="subtitle-quien-es">Quién es este campeon??</h2>
    <form class="quien-es-form"  action="#" method="post">
        
        <label for="ingreso-campeon">
            Ingrese un campeon
        </label>
        <div class="container-input-quien-es">
            <input type="text" id="ingreso-campeon" name="ingreso-campeon">

            <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </div>

    </form>
    
    <div class="container-resultados-quien-es">

    </div>
    <div class="restart-container">
        <button class="next-lv">
            Siguiente Nivel
        </button>
        <button id="next-champ">
            Cambiar Personaje
        </button>
        <button class="menu-inicial">
            Menu principal
        </button>
    </div>

</div>